.left-container {
  margin-right: 1rem;
  width: 30%;
  padding: 1.25rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

.todo-button{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.left-container h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.storage-dropdown select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  background-color: white;
  margin-right: 1rem;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.storage-dropdown select:focus {
  border-color: #007bff;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 0 0px 0.625rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  margin-bottom: 0.625rem;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: baseline;
}

.todo-title{
  cursor: pointer;
}

.selected {
  background-color: #f0f0f0;
  border: 0.125rem solid #007bff;
  .todo-title{
    font-weight: bold;
  }
}

.todo-item:hover {
  background-color: #f0f0f0;
}


.edit-label{
  padding: 0.3125rem 0.625rem;
  cursor: pointer;
}

.delete-label{
  padding: 0.3125rem 0.625rem;
  cursor: pointer;
}

