.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 30rem;
  max-width: 90%;
}

.modal h3 {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.modal input {
  width: 95%;
  padding: 0.625rem 0;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
}

.modal input:focus {
  border-color: #007bff;
}

button {
  padding: 0.425rem 1.10rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-right: 0.5rem;
}

button:hover {
  background-color: #0056b3;
}

button.cancel {
  background-color: #ccc;
}

button.cancel:hover {
  background-color: #888;
}

.entries {
  display: flex;
  flex-direction: column;
}

.entry-item {
  display: flex;
  align-items: center;
}

.modal-delete-label {
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 1.25rem;
  color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-entry {
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  color: #007bff;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.save-cancel-buttons {
  display: flex;
  justify-content: flex-end;
}

.save-cancel-buttons button {
  margin-left: 0.5rem;
}

.storage-check-box{
  max-width: 1rem;
  align-items: center;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input {
  margin-right: 0.5rem;
}

.checkbox-container label {
  font-size: 1rem;
  color: #333;
  padding-bottom: 0.8rem;
}